<!DOCTYPE html> <!-- html5 version -->
<html lang="en"> <!-- html lang -->
    <head> <!-- root element of html page -->
        <!-- 뷰어에 표시되지 않는 메타 데이터 정보 ---->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>main_page</title> <!-- title for html page -->
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body class="main_page">
        <header>
            <div class="logo_button">
                <img src="/static/토마토용.png" alt="tomatolife.com" width="100" height="90">
            </div>
            <input type="button" title="login_main" class="login_main" value="Login">
            <input type="button" title="join_main" class="join_main" value="Join">
            <input type="button" title="search_main" class="search_main" value="=">
        </header>
        <main>
            <div>
                <div>
                    <h4 class="maintext_1">다양한 대학 진로체험과<br>멘토링을 스누로에서</h4>
                    <h4 class="maintext_2">나만의 진로 디자인 플랫폼 스누로<br>나의 단짝 서울대 멘토 스누링커와 함께 하는 <br>대학 진로체험 프로그램</h4>
                </div>
                <div>
                    <a id="detail" href="https://blog.naver.com/enkeejuniour">자세히 보기</a>
                </div>
                <div>
                    <a id="snuroStory" href="https://blog.naver.com/enkeejuniour">TOMATO STORY</a>
                </div>
            </div>
            <div>
                <div>
                    <h4 class="maintext_3">서울대의 다양한 전공과 현장을 기반으로 개인 맞춤형 진로진학 관련 체험을 할 수 있는 진로정보 시스템 및 진로 멘토링 프로그램 입니다.<br>스누로는 경기도 시흥시의 지원을 받아 시흥시 학생들의 성장을 도모합니다.</h4>
                    <h4 class="maintext_4">개별적 피드백 제공 및 관리 <br> 스누링커들과 프로그램을 진행하면서 진로 정보 습득, 유대감 형성 및 비교과에 대한 멘토만의 노하우 습득</h4>
                </div>
                <div>
                    <a id="detail" href="https://blog.naver.com/enkeejuniour">프로그램 자세히 보기</a>
                </div>
            </div>
                <div>
                    <h4 class="maintext_5">스누로에서는 진로 진학과<br>관련한 다양한 정보를<br>학생들에게 제공합니다.</h4>
                </div>
                <div>
                    <a id="detail" href="https://blog.naver.com/enkeejuniour">프로그램 자세히 보기</a>
                </div>
            <div>
                <div>
                    <h4 class="maintext_6">서울대학교 학생들로 <br>구성된 스누링커들이 학생들의<br>고민 해결에 도움을 드립니다.</h4>
                </div>
                <div>
                    <a id="detail" href="https://blog.naver.com/enkeejuniour">프로그램 자세히 보기</a>
                </div>
            </div>
            <div>
                <div>
                    <a id="detail" href="https://blog.naver.com/enkeejuniour">스누씨드</a>
                    <a id="detail" href="https://blog.naver.com/enkeejuniour">스누링커</a>
                    <a id="detail" href="https://blog.naver.com/enkeejuniour">공지사항</a>
                </div>
            </div>
            <div>
                <div>
                    <a id="detail" href="https://blog.naver.com/enkeejuniour">with tomato</a>
                </div>
            </div>
        </main>
        <footer>
            <div class="contact">
                <div class="main_contact">
                    <div class="KaKao_contact">
                        <a href="https://blog.naver.com/enkeejuniour">KaKao</a>
                    </div>
                    <div class="Instagram_contact">
                        <a href="https://blog.naver.com/enkeejuniour">Instagram</a>
                    </div>
                    <div class="Facebook_contact">
                        <a href="https://blog.naver.com/enkeejuniour">Facebook</a>
                    </div>
                    <br>
                </div>
                <div class="contact_info">
                    <h2 id="Contact">Contact</h2>
                    <a href="mailto:enkeejuniour@snu.ac.kr">enkeejuniour@snu.ac.kr</a>
                    <h3 id="call">010-1234-5678</h3>
                    <br>
                </div>
                <div>
                    <a href="https://blog.naver.com/enkeejuniour">서비스 이용 약관</a>
                    <a href="https://blog.naver.com/enkeejuniour">개인정보취급방침</a>
                    <br>
                </div>
                <div>
                    <h6>서울특별시 관악구 관악로1</h6>
                    <h6>Copyright (c) 토마토용 지식 잡화상 </h6>
                </div>
            </div>
        </footer>           
    </body>
</html>