<!DOCTYPE html> <!-- html5 version -->
<html lang="en"> <!-- html lang -->
    <head> <!-- root element of html page -->
        <!-- 뷰어에 표시되지 않는 메타 데이터 정보 ---->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>main_page</title> <!-- title for html page -->
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body class="main_page">
        <header>
            <div class="logo_button">
                <img src="/static/토마토용.png" alt="tomatolife.com" width="100" height="90">
            </div>
            <input type="button" title="login_main" class="login_main" value="Login">
            <input type="button" title="join_main" class="join_main" value="Join">
            <input type="button" title="search_main" class="search_main" value="=">
        </header>
        <main>
            <div>
                <div id="section1">
                    <h4>스누로와 함께<br>미래를 그려나갈 스누링커(멘토),<br>스누씨드(멘티)를 모집합니다!</h4>
                    <h2>2021.11.22~12.17</h2>
                </div>
                <div id="section2">
                    <h4>멘토 모집대상</h4>
                    <h6>서울대학교에 학적을 두고 있는<br>학부생 및 대학원생(휴학생 무관/석사과정생)</h6>
                    <h4>멘토 모집대상</h4>
                    <h6>서울대학교에 학적을 두고 있는<br>학부생 및 대학원생(휴학생 무관/석사과정생)</h6>
                    <h4>멘토 지원방법</h4>
                    <h6>스누로 홈페이지를 통해 별도 신청</h6>
                    <h4>멘티 모집대상</h4>
                    <h6>시흥시 거주 중인 중/고등학생</h6>
                    <h4>멘티 활동방식</h4>
                    <h6>줌, 게더타운을 활용한 온라인 멘토링 /<br>시흥캠퍼스 및 관악캠퍼스 오프라인 활동</h6>
                    <h4>멘티 지원방법</h4>
                    <h6>스누로 홈페이지를 통해 별도 신청</h6>   
                    <a id="detail" href="https://blog.naver.com/enkeejuniour">자세히 보기</a>
                </div>
                <div id="section3">
                    <h4>스누로는 이런 분들을 찾아요!</h4>
                    <h6>진로에 대해 다양한 질문을 제시해줄 수 있는 멘토!</h6>
                    <a id="snuroStory" href="https://blog.naver.com/enkeejuniour">TOMATO STORY</a>
                </div>
                <div id="section4">
                    <h4>주로 어떤 활동을 하나요? </h4>
                    <h6>진로에 대해 다양한 질문을 제시해줄 수 있는 멘토!</h6>
                    <a id="snuroStory" href="https://blog.naver.com/enkeejuniour">TOMATO STORY</a>
                </div>
                <div id="section5">
                    <h4>스누링커가 참여하는 필수 활동은 무엇인가요? </h4>
                    <h6>진로에 대해 다양한 질문을 제시해줄 수 있는 멘토!</h6>
                    <a id="snuroStory" href="https://blog.naver.com/enkeejuniour">TOMATO STORY</a>
                </div>
                <div id="section6">
                    <h4>2021년도 모집 및 활동 타임라인</h4>
                    <h6>진로에 대해 다양한 질문을 제시해줄 수 있는 멘토!</h6>
                    <a id="snuroStory" href="https://blog.naver.com/enkeejuniour">TOMATO STORY</a>
                </div>
            </div>
            <div>
                <div>
                    <a id="detail" href="https://blog.naver.com/enkeejuniour">스누씨드 신청하기</a>
                    <a id="detail" href="https://blog.naver.com/enkeejuniour">스누링커 신청하기</a>
                    <a id="detail" href="https://blog.naver.com/enkeejuniour">나의 신청 내역</a>
                </div>
            </div>
            <div>
                <div>
                    <div id="recruit">
                        <h4>운영기수 및 모집인원</h4>
                        <h6>멘토 1명당 4명 내외 멘티 배정<br>활동기간:2021.07~2022.02<br>전공별 비율 고려 선발</h6>
                        <a id="snuroStory" href="https://blog.naver.com/enkeejuniour">TOMATO STORY</a>
                    </div>
                    <div id="accepted">
                        <h4>선별방법 및 합격자 통보</h4>
                        <h6>전공별 비율 고려 선발<br>서류전형 및 개별 면접 2021.12.27~31<br>합격자 개별통보 2022.01.04</h6>
                        <a id="snuroStory" href="https://blog.naver.com/enkeejuniour">TOMATO STORY</a>
                    </div>
                    <a id="detail" href="https://blog.naver.com/enkeejuniour">with tomato</a>
                </div>
            </div>
        </main>
        <footer>
            <div class="contact">
                <div class="main_contact">
                    <div class="KaKao_contact">
                        <a href="https://blog.naver.com/enkeejuniour">KaKao</a>
                    </div>
                    <div class="Instagram_contact">
                        <a href="https://blog.naver.com/enkeejuniour">Instagram</a>
                    </div>
                    <div class="Facebook_contact">
                        <a href="https://blog.naver.com/enkeejuniour">Facebook</a>
                    </div>
                    <br>
                </div>
                <div class="contact_info">
                    <h2 id="Contact">Contact</h2>
                    <a href="mailto:enkeejuniour@snu.ac.kr">enkeejuniour@snu.ac.kr</a>
                    <h3 id="call">010-1234-5678</h3>
                    <br>
                </div>
                <div>
                    <a href="https://blog.naver.com/enkeejuniour">서비스 이용 약관</a>
                    <a href="https://blog.naver.com/enkeejuniour">개인정보취급방침</a>
                    <br>
                </div>
                <div>
                    <h6>서울특별시 관악구 관악로1</h6>
                    <h6>Copyright (c) 토마토용 지식 잡화상 </h6>
                </div>
            </div>
        </footer>           
    </body>
</html>