/*Cascading Style Sheet : 페이지 모양을 지정한다 */
/* html 페이지 내 요소에 대한 스타일을 정의한다 */

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

/* 폰트 이름은 'Nanum Gothic' 입니다. 공백이 있으므로 주의해 주세요. */
/* font-family : 'Nanum Gothic'; 으로 지정해 줍니다. */

/* Set a style for all buttons */
* {
    font-family : 'Nanum Gothic';
}

/*Login*/
#login_text {
    border : 0px solid white;
    display : inline;
}
/*아직 계정이 없으신가요?*/
.join {
    font-size:20px;
    border : 0px solid white;
    display: inline;
}
/*회원가입 하기*/
#join_button {
    border : 0px solid white;
    display : inline;
}
/*위 요소 합*/
.first_line {
    display: grid;
    grid-template-columns : 5fr 1fr;
}
/*아이디 비밀번호 박스*/
.text_box {
    border:1px solid rgb(228,228,228);
    height:30px;
    border-radius: 5px;
    display: block;
    width:100%;
    margin: 5px 0;
    outline: none;
    text-align: center;
    background-color : rgb(255,255,255);
    color : rgb(228,228,228);
}
.text_box:focus{
    animation-name : border-focus;
    animation-duration:1s;
    animation-fill-mode:forwards;
}
@keyframes border-focus{
    from{
        border-radius:0;
    }
    to {
        border-radius:15px;
    }
}
/*login button*/
.loginButton {
    height:30px;
    width:100%;
    color: rgb(255,255,255);
    background-color: rgb(217,73,37);
    border: 2px solid rgb(255,255,255);
    padding: relative;
    margin: relative;
    border-radius: 5px;
    text-align : center;    
    vertical-align:middle;
}
/*forgot password*/
.forget {
    text-align:right;
}
.loginwith {
    height:30px;
    border-radius: 5px;
    display: block;
    width:100%;
    margin: 10px;
    outline: none;
    text-align: center;
    background-color : rgb(228,228,228);
    color : rgb(0,0,0);    
}